{{#apiInfo}}

{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
import { {{ classname }}Methods } from './{{ classFilename }}';
{{/operations}}

{{#withInterfaces}}
export * from './{{ classFilename }}Interface'
{{/withInterfaces}}
{{/apis}}

export const methods = {
{{#apis}}
{{#operations}}
  {{classname}}: {{ classname }}Methods,
{{/operations}}
{{/apis}}
}

{{/apiInfo}}

