{{#apiInfo}}
{{#apis}}

{{#operations}}
export * from './{{ classFilename }}';
import { {{ classname }}Methods } from './{{ classFilename }}';
{{/operations}}

export const methods = {
{{#operations}}
  {{classname}}: {{ classname }}Methods
{{/operations}}
}

{{#withInterfaces}}
export * from './{{ classFilename }}Interface'
{{/withInterfaces}}

{{/apis}}
{{/apiInfo}}
